@import '~purecss/build/pure.css';

body {
    background-color: #ddd;
    margin-top: 20px;
}


header {
    display: flex;
    align-items: center;
    img {
    }
}

button {
}

.logo {
    background: url('images/logo.png');
    width: 60px;
    height: 60px;
    background-size: cover;
}

.container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.blockrow {
  display: block;
}

.board {
  display: inline-block;
  margin-top: 2rem;
  background-color: white;
  padding: 0;
}

.background_picture {
  position: absolute;
  width: 548px;
  top: 66px;
  left: 569px;
  z-index: -1;
}

.column {
  display: block;
  margin: 0;
  height: 32px;
}

.square {
  overflow: hidden;
  display: inline-block;
  height: 32px;
  width: 32px;
}

.square_closed {
  background-color: grey;
}

.square_img {
  width: 32px;
}

.square_open {
  background-color: white;
  background-image: url("images/open_nothing.png");
  background-size: 32px;
}


.square_flagged {
  background-color: red;
}


.bombimage {
  height: 32px;
  width: 32px;
}
