@import '~purecss/build/pure.css';

body {
    background-color: #ddd;
    margin-top: 20px;
}


header {
    display: flex;
    align-items: center;
    img {
    }
}

button {
}

.logo {
    background: url('images/logo.png');
    width: 60px;
    height: 60px;
    background-size: cover;
}

.container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.blockrow {
  display: block;
}

.board {
  display: inline-block;
  margin-top: 2rem;
  background-color: white;
  padding: 0px;
}

.column {
  display: block;
  margin: 0px;
}

.square_closed {
  border: 1px solid black;
  height: 32px;
  width: 32px;
  overflow: hidden;
  display: inline-flex;
  background-color: grey;
}

.square_open {
  border: 1px solid black;
  height: 32px;
  width: 32px;
  overflow: hidden;
  display: inline-flex;
  background-color: white;
  font-size: 16px;
  line-height: 55px;
}


.bombimage {
  height: 32px;
  width: 32px;
}
